.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #adb5bd;
    margin: 2rem 0;
}
.divider::before, .divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #dee2e6;
}
.divider span {
    padding: 0 1rem;
}

.auth-link-text {
    /* text-align: center; */
    margin-top: 2rem;
    color: #868e96;
}
.auth-link-text a {
    color: #31BBE5;
    font-weight: bold;
}